.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  transition: 250ms;
  min-height: 200px;
  border: 3px solid gray;
  cursor: pointer;
}

.card.flip {
  --rotate-y: 180deg;
}

.frontFlip, .backFlip {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.backFlip {
  transform: rotateY(180deg);
}